.header{
    display: flex;
    justify-content: space-between;
    margin: 15px;
    height: 6vh;
    align-items: center;
}

.header_left > img{
    width: 200px;
}

.header_middle{
    display: flex;
}

.header_option{
    padding-right: 3vw;
}

.header_option > .MuiSvgIcon-root{
    
}

.header_right{
    display: flex;
}

.header_right>p{
    font-size: 16px;
    font-weight: 700;
}