@import '../variables';

.header {
  display: flex;
  height: 6vh;
  width: 100%;
  margin-bottom: 30px;
  align-items: center;

  .header_container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 15px;
    height: 6vh;
    align-items: center;
    text-align: center;

    .header_left {
      > img {
        width: 200px;
        cursor: pointer;
      }
    }

    .header_middle {
      display: flex;
      justify-content: space-evenly;
      flex: 1;
      align-items: center;

      .header_option {
        width: 80px;
        margin-right: 5vw;
        margin-top: 10px;
        border-bottom: 4px solid black;
        align-items: center;
        text-align: center;
        cursor: pointer;
        border-radius: 8px;

        .header_option:last-child {
          margin-right: 0;
        } 

        > .MuiSvgIcon-root {
          margin: 10px 0px;
        }
      }
    }
  }

  &_right {
    display: flex;
    width: 200px;

    > p {
      font-size: 16px;
      font-weight: 700;
      cursor: pointer;
    }
  }
}

.header_option:hover {
  background: $base-hover;
  border: none;
}

.error_message {
  color:red;
  font-size: 12px;
}
